:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --text-dark-background-color: #ffffff;
  --text-light-background-color: #757575;
  --title-dark-background-color: #ffffff;
  --title-light-background-color: #212121;
  --accent-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #ffffff;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--title-light-background-color);
  letter-spacing: 0.03em;
}

h1 {
  margin: 0;
}

img {
  display: block;
}

/* HEADER */
.header {
  border: 1px solid #ececec;
}

.navigation-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list {
  display: flex;
  padding-left: 0px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 85px;
}

.header-contacts-list {
  display: flex;
  padding-left: 0px;
}

.header-contacts-list-item {
  display: flex;
  align-items: center;
}

.header-contacts-list-item:not(:last-child) {
  margin-right: 30px;
}

.header-address-icons-svg {
  margin-right: 10px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 19px;
  margin-bottom: 14px;
}

.logo,
.logo-blue-word {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-blue-word {
  color: var(--accent-color);
}

.navigation-list-link,
.header-mail,
.header-phone {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-light-background-color);
}

.header-contacts .link {
  color: var(--text-light-background-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-mail:hover,
.header-phone:hover,
.header-mail:focus,
.header-phone:focus {
  color: var(--accent-color);
}

.header-mail,
.header-phone {
  font-style: normal;
}

/* HERO */
.hero {
  background: url(../images/Hero-img.jpg);
}

.hero-section {
  background-color: var(--text-light-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-header {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-dark-background-color);
}

.hero-modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--title-dark-background-color);
  background: var(--accent-color);
  cursor: pointer;
}

/* MAIN */
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.subtitle {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.benefits-list-item-img {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits-list-item .subtitle {
  margin-bottom: 10px;
}

.benefits-list {
  display: flex;
  align-items: center;
}

.benefits-list-item {
  width: 270px;
  height: 251px;
}

.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-description {
  font-weight: normal;
  line-height: 1.71;
  color: var(--text-light-background-color);
}

.operations {
  padding-top: 47px;
  padding-bottom: 94px;
}

.operations-list {
  display: flex;
  align-items: center;
}

.operations-list-item:not(:last-child) {
  margin-right: 30px;
}

.operations .subtitle {
  text-align: center;
  color: var(--title-dark-background-color);
  background-color: var(--text-light-background-color);
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 10px;
}

/* TEAM */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  align-items: center;
}

.team-list-items {
  background-color: var(--text-dark-background-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team-list-items:not(:last-child) {
  margin-right: 30px;
}

.team-list-items-img {
  margin-bottom: 30px;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-position {
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-light-background-color);
}

.team-address-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.team-address-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
}

.team-address-list-item:not(:last-child) {
  margin-right: 10px;
}

/* CLIENTS */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  align-items: center;
}

.clients-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-list-item-link:hover,
.clients-list-item-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

/* FOOTER */

.footer {
  background: #2f303a;
}

.footer .container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  margin-right: 10px;
}

.footer-street-address,
.footer-mail,
.footer-phone {
  font-weight: normal;
  font-style: normal;
  line-height: 1, 71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-street-address,
.footer-container .subtitle {
  color: var(--title-dark-background-color);
}

.footer-street-address:hover,
.footer-mail:hover,
.footer-phone:hover,
.footer-street-address:focus,
.footer-mail:focus,
.footer-phone:focus {
  color: var(--accent-color);
}

.footer .logo {
  display: block;
  color: var(--text-dark-background-color);
  margin-bottom: 20px;
}

.footer-address-list-item {
  margin-bottom: 9px;
}

.footer-container .subtitle {
  margin-bottom: 20px;
}

.footer-address-container {
  margin-right: 69px;
}

/* PORTFOLIO */
.portfolio-buttons {
  padding-bottom: 50px;
}

.portfolio-main {
  padding-top: 93px;
  padding-bottom: 94px;
}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-modal-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--title-light-background-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.portfolio-modal-btn:hover,
.portfolio-modal-btn:focus {
  color: var(--text-dark-background-color);
  background-color: var(--accent-color);
}

.portfolio-examples-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-examples-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.portfolio-examples-image {
  margin-bottom: 20px;
}

.portfolio-subtitle {
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;

  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-examples-list-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-examples-list-item:nth-last-child(-n + 3) {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-light-background-color);
}

.portfolio-type {
  padding-left: 24px;
  padding-right: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-light-background-color);
}

.portfolio-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-dark-background-color);
  background-color: var(--accent-color);
}
